HELP.md
/Java To TS/.jsweet/
/Java To TS/target/
/node_modules/
/.tscache/
!.mvn/wrapper/maven-wrapper.jar
**/*.js
**/*.map
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/


